<template name="adminComponentSidebar">

  <div class="bg-bordo sideBar">
    <ul class="nav nav-pills nav-flush flex-column mb-auto justify-content-center">
        <li class="nav-item "> <a href="/admin/dashboard" class="nav-link py-3 border-bottom w-100 {{#if isActive 'dashboard'}}active{{/if}}"> <i class="fa fa-dashboard"></i> <small>Dashboard</small> </a> </li>
        <li class="nav-item"> <a href="/admin/category" class="nav-link py-3 border-bottom w-100 {{#if isActive 'category'}}active{{/if}}"> <i class="fa fa-filter"></i> <small>Categories</small> </a> </li>
        <li class="nav-item"> <a href="/admin/movie" class="nav-link py-3 border-bottom w-100 {{#if isActive 'movie'}}active{{/if}}">  <i class="fa fa-film"></i> <small>Movies</small> </a> </li>
        <li class="nav-item"> <a href="/admin/comments" class="nav-link py-3 border-bottom w-100 {{#if isActive 'comments'}}active{{/if}}"><i class="fa fa-comment"></i>  <small>Comments</small> </a> </li>
        <li class="nav-item"> <a href="/admin/user" class="nav-link py-3 border-bottom w-100 {{#if isActive 'user'}}active{{/if}}"> <i class="fa fa-user"></i> <small>Users</small> </a> </li>
    </ul>

</div>  

</template>
