@import '../../../../style.scss';

.movie-component {
  a {
    text-decoration: none;
    .img-caption {
      color: black;
    }
  }
  a:hover{
    .img-caption {
      color: $base-color;
    }
  }
  .img-caption {
    margin: 0.5rem 2rem;
    color: #fff;
    text-align: center;
  }
}