@import '../../../../style.scss';

.brd-contact-form {
  color: $base-color;
  label {
    font-weight: 600;
  }
  .form-item {
    margin: 0.3rem 0;
  }
  .brd-btn {
    margin-top: 1rem;
    padding: 1.25rem 0;
    width: 100%;
    background-color: white;
    color: $base-color;
  }
  .brd-btn:hover {
    background-color: $dark-base-color;
    color: white;
  }
}

.brd-contact-data {
  background-color: $base-color;
  border-radius: 0.35rem;
  color: white;
  padding-top: 2rem;
  padding-bottom: 8rem;
  ul {
    list-style: none;
    li {
      margin-top: 1rem;
    }
    a {
      text-decoration: none;
      color: white;
      svg {
        margin-right: 0.5rem;
      }
    }
    a:hover {
      color: $light-base-color;
    }
  }
}